<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OTPStudent">

        <activity
            android:name="hr.foi.air.otpstudent.ui.jobs.JobDetailsActivity"
            android:exported="false" />

        <activity android:name="hr.foi.air.otpstudent.ui.auth.LoginActivity" />

        <activity
            android:name="hr.foi.air.otpstudent.ui.auth.LoginSuccessActivity"
            android:exported="false"
            android:label="Prijava uspješna" />

        <activity android:name=".MainActivity" />

        <activity
            android:name="hr.foi.air.otpstudent.ui.auth.RegisterActivity"
            android:exported="true" />

        <activity
            android:name="hr.foi.air.otpstudent.ui.profile.ProfilePersonalActivity"
            android:exported="false" />

        <activity
            android:name="hr.foi.air.otpstudent.ui.profile.ProfileFacultyActivity"
            android:exported="false" />

        <activity android:name="hr.foi.air.otpstudent.ui.profile.ProfileSetupActivity" />

        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="hr.foi.air.otpstudent.ui.cv.MyCvActivity" />
        <activity android:name=".QuickLoginOfferActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />


        <activity android:name=".ui.internship.InternshipDetailsActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:replace="android:authorities"
            tools:node="merge">

            <meta-data
                android:name="hr.foi.air.auth.pin.PinAuthInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="hr.foi.air.auth.bio.BiometricAuthInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>
